/**
 * This file is the base CSS file, containing a minimum set of directives
 * which are common to all themes and ensure a consistent rendering.
 *
 * Note: Specific themes CSS files are located in themes/[name]/, and style.css
 * is the main file that will be looked for.
 */

/**
 * Since all the imports must be done before declaring any other rule, we
 * declare the structure and global rules (ex: body, html, *) in a dedicated
 * file and import it first.
 */
@import '~./structure.css';

@import '~sprite.css';
@import '~./ui/buttons.css';
@import '~./ui/tables.css';
@import '~./ui/alerts.css';
@import '~./ui/input-with-addon.css';
@import '~./ui/buttons-group.css';
@import '~./ui/label-component.css';
@import '~./ui/tabs.css';
@import '~./ui/foldable-panel.css';
@import '~./ui/spinner.css';
@import '~./ui/accessibility.css';
@import '~./ui/modals.css';

@import '~./helpers.css';

@import '~./layout.css';
@import '~./sections/settings/all.css';
@import '~./sections/settings/alerts.css';
@import '~./sections/settings/banks.css';
@import '~./sections/duplicates.css';
@import '~./sections/budgets.css';
@import '~./sections/charts.css';
@import '~./sections/categories.css';
@import '~./sections/about.css';
@import '~./sections/operations/wells.css';
@import '~./sections/operations/toolbar.css';
@import '~./sections/operations/search.css';
@import '~./sections/operations/table.css';

/* Charts colors */
.c3-axis-x,
.c3-axis-y,
.c3-legend-item {
    fill: var(--charts-axis-color);
}

.c3-xgrids path,
.c3-ygrids path,
.c3-axis-x line,
.c3-axis-y line,
.c3-axis-x path,
.c3-axis-y path {
    stroke: var(--charts-axis-color);
}

.dygraph-axis-label,
.dygraph-legend {
    color: var(--charts-axis-color);
    background-color: transparent;
}

/* Loading "modal" */
#app > .loading-modal {
    height: auto;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 1em;
}

@media (max-width: 768px) {
    #app > .loading-modal {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

#app > .loading-modal h3 {
    margin: 0;
}

#app > .loading-modal > * {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Error reporter called on React crash */
.error-reporter {
    overflow: auto;
    padding: 1em;
}

.error-reporter pre {
    border: 1px solid;
    padding: 1em;
    overflow: inherit;
}
